<%= form_for recipe do |f| %>
    <p>
        <%= f.label :title %> <br>
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.fields_for :ingredients do |ingredient| %>
            Ingredient Name: <br>
            <%= ingredient.text_field :name %>
            <br> <br>
            <%= ingredient.label :quantity, 'Ingredient Quantity:' %> <br>
            <%= ingredient.text_field :quantity %>
            <br> <br>
        <% end %>
    </p>


    <%= f.submit %>
<% end %> 